/* TITULO */
.projects h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

/* CARROUCEL */
.projects-carousel {
    position: relative;
    overflow: hidden;
}

.projects-grid {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Navegación para certificados */
.prev-projects,
.next-projects {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 18px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev-projects {
    left: 10px;
}

.next-projects {
    right: 10px;
}

/* SLIDE */
.slide-projects {
    flex: 0 0 33.33%;
    padding: 10px;
}

/* tarjeta */
.card-projects {
    width: 100%;
    max-width: 400px;
    min-height: 350px;
    position: relative;
    margin: 10px;
    margin-bottom: 0.5rem;
    color: var(--color-primary-light);
}

/* contenido de la tarjeta */
.front-projects {
    font-size: 18px;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1e1e2e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: auto;
}

.front-projects img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.front-projects h3 {
    margin-bottom: 0.5rem;
    color: var(--color-primary-light);
}

.front-projects p {
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
}

.front-projects .link {
    margin-top: 1rem;
}

.front-projects .btn-secondary {
    margin-top: 1rem;
    background-color: transparent;
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.front-projects .btn-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}


/* resposivo */
/* En dispositivos móviles y tablets, que el slide ocupe el 100% */
@media (max-width: 768px) {
    .slide-projects {
        flex: 0 0 100%;
    }
}